html:root {
  --height: 400px;
  --bezier: 0.56, 0.26, 0.37, 0.98;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page {
  padding-top: 20px;
  width: 800px;
  height: var( --height );
  background-color: white;
  margin: auto
}

.g-slider {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.g-slider__track {
  min-height: var( --height );
  will-change: transform;
}

.g-slider__slide {
  margin: 0;
  float: left; /* eliminates 4-5px margin between images */
  border-left: 2px solid transparent;
  display: inline-block;
  height: var( --height );
}

.g-slider__nav {
  margin-top: 1rem;
  text-align: center;
}

.g-slider__nav-icon {
  display: inline-block;
  padding: 6px 4px;
}

.g-slider__nav-icon--left {
  transform: translateY(3px) rotate(180deg);
}

/* Animation */
.g-slider--is-animating .g-slider__track {
  transition: transform .33s cubic-bezier( var( --bezier ) );
}
.g-slider--is-animating .g-slider__nav {
  pointer-events: none;
}